@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items:center ;
    height: 100vh;
    background:  #ededed;
}

.principal {
    padding: 9px;
    width: 410px;
    height: 437px;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 9px;
    background: #fff;
}

.pagoProductos {
    width: 391px;
    height: 40px;
    border-radius: 9px;
    background: rgb(247,231,8);
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 5px;
}

.pagoProductos:hover {
    background: rgb(238, 223, 13);
    cursor: pointer;
    transition: all 0.3s;
}

.pagoProductos:active {
    background: rgb(184, 174, 38);
}

.pagoProductos h2 {
    align-self: center;
}

.divisionCaratula {
    display: flex;
    margin-top: 20px;
}

.caratula {
    background-image: url(../img/caratula-carrito-compras.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 160px;
    height: 220px;
}

.descripcion {
    padding-left: 30px;
    width: 231px;
}

#subtotal {
    font-size: 1.3em;
    font-weight: 700;
    
}

.parteInferior {
    display: flex;
    margin-top: 20px;
}

.otrasOpciones {
    padding-left: 30px;
    width: 231px;
}

.eliminar {
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 9px;
    padding-left: 5px;
}

.eliminar:hover {
    cursor: pointer;
    background: #dddde2;
}

.eliminar:active {
    background: #bfbfc4;
}

.guardar {
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 9px;
    margin-top: 10px;
    padding-left: 5px;
}

.guardar:hover {
    cursor: pointer;
    background: #dddde2;
}

.guardar:active {
    background: #bfbfc4;
}

.guardar-screen {
    display: none;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
}

h2 {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.cantidadUnidades {
    display: flex;
    width: 160px;
    justify-content: center;
}

.suma {
    width: 50px;
    height: 40px;
    background-image: url(../img/signo-menos.svg);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center;
    border: 1px solid rgba(0,0,0,.5);
    border-bottom-left-radius: 6px;
    border-top-left-radius: 9px;
    color: #dddde2;
}

.suma:active {
    background-size: 40%;
}

.suma:hover {
    cursor: pointer;
}

.numeroUnidades {
    width: 60px;
    height: 40px;
    border-top: 1px solid rgba(0,0,0,.5);
    border-bottom: 1px solid rgba(0,0,0,.5);
    background: #dddde2;
    border-left: none;
    border-right: none;
    text-align: center;
    font-size: 1.2em;
}

.numeroUnidades:focus {
    outline: none;
}

.resta {
    width: 50px;
    height: 40px;
    background-image: url(../img/signo-mas.svg);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center;
    border: 1px solid rgba(0,0,0,.5);
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
    color: #dddde2;
}

.resta:hover {
    cursor: pointer;
}

.resta:active {
    background-size: 40%;
}

@media screen and (max-width: 700px) {
    
    body {
        height: auto;
    }
    
    .principal {
        border: none;
        width: 95%;
        margin-top: 10px;
    }

    .pagoProductos {
        width: 100%;
    }

    .divisionCaratula {
        display: block;
    }

    .caratula {
        width: 100%;
        height: 400px;
        background-size:contain;
    }

    .descripcion {
        padding: 10px 0 0 0;
        width: 95%;
    }

    .otrasOpciones {
        width: 100%;
    }

    .eliminar {
        width: 100%;
    }

    .guardar {
        display: none;
    }

    .guardar-screen {
        display: block;
        height: 40px;
        display: flex;
        align-items: center;
        border: 1px solid rgba(0,0,0,.5);
        border-radius: 9px;
        margin-top: 10px;
        padding-left: 5px;
    }

    .guardar-screen:hover {
        cursor: pointer;
        background: #dddde2;
    }
    
    .guardar-screen:active {
        background: #bfbfc4;
    }
}