* {
    margin: 0;
    padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background:#17272c;
	font-family: 'Georama', sans-serif;
}

header {
	width:100%;
}

header nav {
	width: 100%;
	margin:0px auto 20px auto;
	background:#17465a;
    top: 0;
}

.menu_bar {
	display:none;
}

header nav ul {
	overflow:hidden;
	list-style:none;
}

header nav ul li {
	float:left;
}

header nav ul li a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
}

header nav ul li span {
	margin-right:10px;
}

header nav ul li a:hover {
	background:#10313d;
}
.contenido-principal {
    margin: 3em;
    color: #f1f1f2a1;
    padding-top: 5%;
    text-align: justify;
}

@media screen and (max-width:800px ) {
	header nav {
		width:80%;
		height:100%;
		margin:0;
		position: fixed;
        top: 68px;
	}
	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}
	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}
	.menu_bar .boton-menu {
		display:block;
		padding:20px;
		background:#17465a;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	.menu_bar span {
		float:right;
		font-size:40px;
	}
    .contenido-principal {
        color: #f1f1f2a1;
        padding-top: 5%;
        text-align: justify;
    }
}